[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
sqlalchemy = "*"
pyjwt = "*"
psycopg2-binary = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-restful = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
